$body-background: #eaeaea; //For body's background
$primary-color: #fff; //For white colour
$secondary-color: #000000; //For text colour

$button-background: #2483ff;


// Screen size break point
$size-sm: 430px;
$size-md: 1024px;