@use "../../scss/global.scss" as *;

.anchors {

    margin: 5px;
    
    .anchor {
        color: $secondary-color;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}