@use "./scss/resets" as idx; //Use all feature of _index.scss file. Name as idx
@use "./scss/variable" as var; //Use all feature of _variable.scss file. Name as var

//Put the actual width of the app in body.
body {
}

// root id will be take 85% width of body.
#root {
}