@use "./scss/global.scss" as g;

//Put the actual width of the app in body.
body {
    background: g.$body-background;

    color: g.$secondary-color;

    max-width: 1280px;
    min-height: 100dvh;
    
    // root id will be take 85% width of body.
    #root {
        color: g.$secondary-color;

        @include g.width-height(100%, 100%);
        @include g.border();
    }
}