@use "../../scss/global.scss" as *;

.global_header{
    background-color: $primary-color;
    @include width-height($outer-width, $outer-height);
    @include display(flex, row);
    @include margin-padding($outer-margin, $outer-padding);
    @include border($border,);

    justify-content: space-between;
    align-items: center;
    
    //Main logo style on header
    #global_header_name {
        color: $secondary-color;
        @include font(20px, bold); //Only for Logo text
    }
}
